<div class="container">

  <div class="text-center">
    <h4>If we like your suggestion, we'll add it to our menu!</h4>
    <br>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-12">
      <h5>Suggest a taco recipe:</h5>

      <button class="btn btn-primary" id="random_btn" (click)="getRandomRecipe()">Get Random Recipe</button>
      <br>

      <form #formData="ngForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="author"
            required
            minlength="2"
            maxlength="256"
            [(ngModel)]="recipe.author"
            #authorval="ngModel">
          <small class="form-text text-danger" *ngIf="authorval.errors">Name must be at least 2 characters in length</small>
        </div>

        <div class="form-group">
          <label for="recipe">Recipe:</label>
          <textarea
            name="text"
            class="form-control"
            id="recipe"
            rows="5"
            required
            minlength="10"
            maxlength="256"
            [(ngModel)]="recipe.text"
            #recipeval="ngModel">
          </textarea>
          <small class="form-text text-danger" *ngIf="recipeval.errors">Recipe must be at least 10 characters in length</small>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!formData.valid">
      </form>

    </div>

    <div class="col-md-6 col-sm-12 submissions">
      <h5>Recently submitted recipes:</h5>
      <div class="card bg-secondary text-white" *ngFor="let recipe of recipes">
        <h6 class="card-header">{{ recipe.author }} ({{ recipe.createdAt | date:'medium' }}):</h6>
        <div class="card-body">
          <p class="card-text">{{ recipe.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>