<div class="container">
  <div class="text-center">
    <h4>We are hiring for all positions!</h4>
  </div>

  <div class="row">

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/dishwasher.png" alt="dishwasher">
        <div class="card-body">
          <h4 class="card-title">Dishwasher</h4>
          <p class="card-text">
            Cleans dishes and utensils and may be entrusted with basic preparatory jobs.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $70,000
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/waiter.png" alt="waiter">
        <div class="card-body">
          <h4 class="card-title">Waiter</h4>
          <p class="card-text">
            Takes customers' orders and brings their food in a kind and timely fashion.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $80,000
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/cook.png" alt="cook">
        <div class="card-body">
          <h4 class="card-title">Line Cook</h4>
          <p class="card-text">
            Responsible for preparing and cooking specific dishes at an assigned station.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $90,000
          </p>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="row">

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/maitred.png" alt="maitre d">
        <div class="card-body">
          <h4 class="card-title">Ma&icirc;tre D'</h4>
          <p class="card-text">
            Oversees the front of the house and makes sure the dining room is running smoothly.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $100,000
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/souschef.png" alt="sous chef">
        <div class="card-body">
          <h4 class="card-title">Sous-Chef</h4>
          <p class="card-text">
            Second-in-command in the kitchen; receives orders directly from the Executive Chef.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $150,000
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../assets/imgs/executivechef.png" alt="executive chef">
        <div class="card-body">
          <h4 class="card-title">Executive Chef</h4>
          <p class="card-text">
            Manages the kitchen. Position not available unless you defeat Chef Huangry in a duel.
          </p>
          <p class="card-text">
            <b>Base salary:</b> $200,000
          </p>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="text-center">
    <p>
      We require 15+ years of culinary experience.<br>
      If you are interested in a position, <a href="mailto:hr@tacodelujo.com">please send</a> us your resume and a list of 5 references.
    </p>
  </div>

</div>