<div class="container">
    <div class="text-center">
      <h4>Our tacos are guaranteed to satiate your hunger!</h4>
    </div>
  
    <div class="row">
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu1.jpg" alt="menu 1">
          <div class="card-body">
            <h4 class="card-title">Chicken Taco Platter</h4>
            <p class="card-text">
              <b>Price:</b> $29.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu1Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu1Modal" tabindex="-1" role="dialog" aria-labelledby="menu1ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu1ModalLabel">Chicken Taco Platter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu1.jpg" alt="menu 1">
              <br><br>
              <p>
                Our new Chicken Avocado Taco Platter is two tacos made with our fire-grilled chicken, sliced avocado, cheese, cabbage, pico de gallo salsa and creamy cilantro dressing. Served with rice and beans.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu2.jpg" alt="menu 2">
          <div class="card-body">
            <h4 class="card-title">Avocado Taco Platter</h4>
            <p class="card-text">
              <b>Price:</b> $34.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu2Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu2Modal" tabindex="-1" role="dialog" aria-labelledby="menu2ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu2ModalLabel">Avocado Taco Platter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu2.jpg" alt="menu 2">
              <br><br>
              <p>
                With our Avocado Tacos al Carbon platter you get three tacos filled with fire-grilled chicken, avocado slices, diced onions and cilantro. Served with rice and beans.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu3.jpg" alt="menu 3">
          <div class="card-body">
            <h4 class="card-title">Shrimp Taco Platter</h4>
            <p class="card-text">
              <b>Price:</b> $34.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu3Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu3Modal" tabindex="-1" role="dialog" aria-labelledby="menu3ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu3ModalLabel">Shrimp Taco Platter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu3.jpg" alt="menu 3">
              <br><br>
              <p>
                Get two tacos filled with shrimp, sliced avocado, mango salsa, cotija cheese, cabbage and our own avocado salsa. Served with rice and beans.
              </p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <br>
  
    <div class="row">
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu4.jpg" alt="menu 4">
          <div class="card-body">
            <h4 class="card-title">Classic Chicken Taco</h4>
            <p class="card-text">
              <b>Price:</b> $14.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu4Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu4Modal" tabindex="-1" role="dialog" aria-labelledby="menu4ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu4ModalLabel">Classic Chicken Taco</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu4.jpg" alt="menu 4">
              <br><br>
              <p>
                Our ranchero shredded chicken, Monterey jack cheese and lettuce in a crispy, crunchy taco shell. Simple and simply delicious.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu5.jpg" alt="menu 5">
          <div class="card-body">
            <h4 class="card-title">Chicken Avocado Taco</h4>
            <p class="card-text">
                <b>Price:</b> $19.99
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu5Modal">
                  More info
                </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu5Modal" tabindex="-1" role="dialog" aria-labelledby="menu5ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu5ModalLabel">Chicken Avocado Taco</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu5.jpg" alt="menu 5">
              <br><br>
              <p>
                If you like tacos and you like avocados, you’re sure to love our Chicken Avocado Tacos. But, to ensure your satisfaction, each taco is also made with hand-sliced avocados, jack cheese, hand-chopped pico de gallo, crisp cabbage, creamy cilantro dressing and your choice of our famous fire-grilled chicken breast or Baja shrimp, all tucked into soft artisan tortillas.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/menu6.jpg" alt="menu 6">
          <div class="card-body">
            <h4 class="card-title">Chicken Taco Al Carbon</h4>
            <p class="card-text">
              <b>Price:</b> $19.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#menu6Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="menu6Modal" tabindex="-1" role="dialog" aria-labelledby="menu6ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="menu6ModalLabel">Chicken Taco Al Carbon</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/menu6.jpg" alt="menu 6">
              <br><br>
              <p>
                With two corn tortillas, chopped citrus-marinated fire-grilled thigh meat or Baja shrimp, diced onion, and cilantro you’ll value your taco.
              </p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    
    <br>
  
    <div class="row">
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/drink1.jpg" alt="drink 1">
          <div class="card-body">
            <h4 class="card-title">Coca-Cola</h4>
            <p class="card-text">
              <b>Price:</b> $7.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#drink1Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="drink1Modal" tabindex="-1" role="dialog" aria-labelledby="drink1ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="drink1ModalLabel">Coca-Cola</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/drink1.jpg" alt="drink 1">
              <br><br>
              <p>
                A delightfully sugary and fizzy drink to quench your thirst.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/drink2.jpg" alt="drink 2">
          <div class="card-body">
            <h4 class="card-title">Horchata</h4>
            <p class="card-text">
                <b>Price:</b> $9.99
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#drink2Modal">
                  More info
                </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="drink2Modal" tabindex="-1" role="dialog" aria-labelledby="drink2ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="drink2ModalLabel">Horchata</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/drink2.jpg" alt="drink 2">
              <br><br>
              <p>
                A sweet, milky drink that transports you to Latin America.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="../assets/imgs/drink3.jpg" alt="drink 3">
          <div class="card-body">
            <h4 class="card-title">Bottled Water</h4>
            <p class="card-text">
              <b>Price:</b> $4.99
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#drink3Modal">
                More info
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="modal fade" id="drink3Modal" tabindex="-1" role="dialog" aria-labelledby="drink3ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="drink3ModalLabel">Bottled Water</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img class="card-img-top" src="../assets/imgs/drink3.jpg" alt="drink 3">
              <br><br>
              <p>
                Probably the healthiest thing we have on our menu.
              </p>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <br>
  
  </div>