<div class="container text-center">
  <h2>What make our tacos unique:</h2>
</div>
<section id="wrapper" class="skewed">
    <div class="layer bottom">
      <div class="content-wrap">
        <div class="content-body">
          <h3>Generic Taqueria</h3>
          <p>Uninspiring tacos that have you running for el ba&ntilde;o...</p>
        </div>
        <img src="../assets/imgs/taco_sad.png" alt="sad taco">
      </div>
    </div>

    <div class="layer top">
      <div class="content-wrap">
        <div class="content-body">
          <h3>Taco de Lujo</h3>
          <p>Innovative, luxurious tacos that tickle your senses!</p>
        </div>
        <img src="../assets/imgs/taco_luxe.png" alt="deluxe taco">
      </div>
    </div>

    <div class="handle"></div>
</section>